<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
<title>Make Agenda</title>
<script src="./js/scrypt.js" type="text/javascript"></script>
<script src="./js/buffer.js" type="text/javascript"></script>
<script src="./js/setImmediate.js" type="text/javascript"></script>
<script src="./js/unorm.js" type="text/javascript"></script>
<script src="./js/jquery-3.3.1.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script>
$(document).ready(function(){
    $('#sbmt').click(function(){
        var pwd = $('#pwd')[0].value;
        var password = new buffer.SlowBuffer(pwd.normalize('NFKC'));
        var salt = new buffer.SlowBuffer("firebugsalt".normalize('NFKC'));

        var N = 1024, r = 8, p = 1;
        var dkLen = 32;

        scrypt(password, salt, N, r, p, dkLen, function(error, progress, key) {
            if (error) {
                console.log("Error: " + error);
            } else if (key) {
                console.log("Found: " + key);
                $("#pwd")[0].value = key;
                $('#makeagenda')[0].submit();
            }
        });
    });
});
</script>
</head>
<body>
<div class="container">
	<form role="form" id='makeagenda' action="/makeagenda" method="post" class="form-horizontal">
		<div class="form-group">
			<h2>Poll 만들기</h2>
		</div>
		<div class="form-group">
			<label for="titleid">Title</label>
			<input name="title" type="text" id="titleid" class="form-control" />
			<label for="descriptionid">Description</label>
			<textarea name="description" id="descriptionid" class="form-control" rows="15"></textarea>
		</div>
		<div class="form-group">
			<label for="msg4voteid">Msg4Vote</label>
			<textarea name="msg4vote" id="msg4voteid" class="form-control" rows="2"></textarea>
		</div>
		<div class="form-group">
			<label for="msg4shrid">Msg4Shr</label>
			<textarea name="msg4shr" id="msg4shrid" class="form-control" rows="2"></textarea>
		</div>
		<div class="form-group">
			<label for="imgurlid">ImgUrl</label>
			<input name="imgurl" type="text" id="imgurlid" class="form-control" />
		</div>
		<div class="form-group">
			<label for="linkid">Link</label>
			<input name="link" type="text" id="linkid" class="form-control" />
		</div>
		<div class="form-group">
			<label for="btntitleid">BtnTitle</label>
			<input name="btntitle" type="text" id="btntitleid" value="원문보기" class="form-control" />
		</div>
		<div class="form-group">
			<label for="btnurlid">BtnUrl</label>
			<input name="btnurl" type="text" id="btnurlid" class="form-control" />
		</div>
		<div class="form-group">
			<label for="reacttitlesid">ReactTitles</label>
			<input name="reacttitles" id="reacttitlesid" placeholder=",로 구분해서 입력하세요"type="text" class="form-control" />
		</div>
		<div class="form-group">
			<label for="reacttargetsid">ReactTargets</label>
			<input name="reacttargets" id="reacttargetsid" placeholder=",로 구분해서 입력하세요"type="text" class="form-control" />
		</div>
		<div class="form-group">
			<label for="endhourfromnowid">EndHourFromNow</label>
			<input name="endhourfromnow" type="text" id="endhourfromnowid" class="form-control" />
		</div>
		<div class="form-group">
			<label for="pwd">Password</label>
			<input name="password" type="password" id="pwd" class="form-control" />
		</div>
		<div class="form-group">
			<button type="Submit" id="sbmt" class="btn btn-default form-control">Submit</button>
		</div>
	</form>
</div>
<table>
<tfoot>
	<tr>
		<td>
			<button type="button" onclick="location.href='/showagendalist'">List로</button>
		</td>
		<td>
			<button type="button" onclick="location.href='/kakaolink'">카카오 공유하기</button>
		</td>
	</tr>
</tfoot>
</table>
<!--table style="height: 194px;" width="243">
<tbody>
<tr>
<td style="width: 113px;">title</td>
<td style="width: 114px;"><input name="title" type="text" /></td>
</tr>
<tr>
<td style="width: 113px;">description</td>
<td style="width: 114px;"><textarea name="description" rows="30" cols="100"></textarea></td>
</tr>
<tr>
<td style="width: 113px;">msg4vote</td>
<td style="width: 114px;"><textarea name="msg4vote" rows="3" cols="100"></textarea></td>
</tr>
<tr>
<td style="width: 113px;">msg4shr</td>
<td style="width: 114px;"><textarea name="msg4shr" rows="3" cols="100"></textarea></td>
</tr>
<tr>
<td style="width: 113px;">imgurl</td>
<td style="width: 114px;"><input name="imgurl" type="text" /></td>
</tr>
<tr>
<td style="width: 113px;">link</td>
<td style="width: 114px;"><input name="link" type="text" /></td>
</tr>
<tr>
<td style="width: 113px;">btntitle</td>
<td style="width: 114px;"><input name="btntitle" type="text" value="원문보기"/></td>
</tr>
<tr>
<td style="width: 113px;">btnurl</td>
<td style="width: 114px;"><input name="btnurl" type="text" /></td>
</tr>
<tr>
<td style="width: 113px;">reacttitles (,로 구분하여 입력하세요)</td>
<td style="width: 114px;"><input name="reacttitles" type="text" /></td>
</tr>
<tr>
<td style="width: 113px;">endhourfromnow</td>
<td style="width: 114px;"><input name="endhourfromnow" type="text" /></td>
</tr>
<tr>
<td style="width: 113px;">password</td>
<td style="width: 114px;"><input id="pwd" name="password" type="password" /></td>
</tr>
</tbody>
</table>
<input type="button" id="sbmt" value="Submit" />
</form-->
</body>
</html>
